In [14]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil import parser
import re

In [2]:
# https://stackoverflow.com/questions/12136850/tab-delimited-file-using-csv-reader-not-delimiting-where-i-expect-it-to/12137264
training_set = pd.read_csv("mediaeval-2015-trainingset.txt", delimiter='\t')

In [ ]:
testing_set = pd.read_csv("mediaeval-2015-testset.txt", delimiter='\t')

In [221]:
training_set['timestamp'].max()

Timestamp('2014-09-11 17:10:26+0000', tz='UTC')

In [225]:
testing_set['timestamp'].max()

Timestamp('2015-05-05 21:16:12+0000', tz='UTC')

In [227]:
training_set.shape[0] + testing_set.shape[0]

18032

In [163]:
training_set.head()

,tweetId,tweetText,userId,imageId(s),username,timestamp,label,lang
0,263046056240115712,¿Se acuerdan de la película: “El día después d...,21226711,sandyA_fake_46,iAnnieM,Mon Oct 29 22:34:01 +0000 2012,fake,es
1,262995061304852481,@milenagimon: Miren a Sandy en NY! Tremenda i...,192378571,sandyA_fake_09,CarlosVerareal,Mon Oct 29 19:11:23 +0000 2012,fake,es
2,262979898002534400,"Buena la foto del Huracán Sandy, me recuerda a...",132303095,sandyA_fake_09,LucasPalape,Mon Oct 29 18:11:08 +0000 2012,fake,es
3,262996108400271360,Scary shit #hurricane #NY http://t.co/e4JLBUfH,241995902,sandyA_fake_29,Haaaaarryyy,Mon Oct 29 19:15:33 +0000 2012,fake,en
4,263018881839411200,My fave place in the world #nyc #hurricane #sa...,250315890,sandyA_fake_15,princess__natt,Mon Oct 29 20:46:02 +0000 2012,fake,en

In [164]:
testing_set.head()

,tweetId,tweetText,userId,imageId(s),username,timestamp,label,lang
0,578854927457349632,kereeen RT @Shyman33: Eclipse from ISS.... htt...,70824972,eclipse_01,peay_s,Fri Mar 20 09:45:43 +0000 2015,fake,en
1,578874632670953472,Absolutely beautiful! RT @Shyman33: Eclipse fr...,344707006,eclipse_01,JaredUcanChange,Fri Mar 20 11:04:02 +0000 2015,fake,en
2,578891261353984000,“@Shyman33: Eclipse from ISS.... http://t.co/C...,224839607,eclipse_01,tpjp1231,Fri Mar 20 12:10:06 +0000 2015,fake,en
3,578846612312748032,Eclipse from ISS.... http://t.co/En87OtvsU6,134543073,eclipse_01,Shyman33,Fri Mar 20 09:12:41 +0000 2015,fake,en
4,578975333841551360,@ebonfigli: Éclipse vue de l'ISS... Autre chos...,1150728872,eclipse_01,Epimethee_,Fri Mar 20 17:44:11 +0000 2015,fake,fr

In [230]:
testing_set.shape

(3755, 7)

In [24]:
training_set.shape

(14277, 7)

In [153]:
testing_set['tweetText'].map(lambda x: len(x)).max()

2906

In [152]:
training_set[training_set.tweetText.map(lambda x: len(x)) > 280]

Empty DataFrame
Columns: [tweetId, tweetText, userId, imageId(s), username, timestamp, label]
Index: []

135

In [ ]:
def parse_date(x):
    if re.match("^\w{3}\s\w{3}\s\d{2}\s\d{2}\:\d{2}\:\d{2}", x):
        print(x)
        return datetime.strptime(x, "%a %b %d %H:%M:%S %z %Y")    
    else:
        return datetime.strptime(x, "%a %b %d %H: %M: %S %z %Y")
training_set['timestamp'] = training_set['timestamp'].apply(parse_date)
testing_set['timestamp'] = testing_set['timestamp'].apply(parse_date)

In [12]:
training_set['label'].unique()

array(['fake', 'humor', 'real'], dtype=object)

In [17]:
print(training_set[training_set['label']=='fake'].shape)
print(training_set[training_set['label']=='humor'].shape)
print(training_set[training_set['label']=='real'].shape)

(6742, 7)
(2614, 7)
(4921, 7)

In [259]:
print(testing_set[testing_set['label']=='fake'].shape)
print(testing_set[testing_set['label']=='real'].shape)

(2546, 7)
(1209, 7)

In [252]:
print(training_set[training_set.label == "fake"]['username'].map(lambda x: len(x)).sum()/6742)
print(training_set[training_set.label == "humor"]['username'].map(lambda x: len(x)).sum()/2614)

10.813705132008305

In [266]:
print(training_set[training_set.label == "fake"]['username'].map(lambda x: len(x)).sum()/6742)
print(training_set[training_set.label == "humor"]['username'].map(lambda x: len(x)).sum()/2614)
print(training_set[training_set.label == "real"]['username'].map(lambda x: len(x)).sum()/4921)

10.813705132
10.6752104055
10.5791505792

In [262]:
testing_set[testing_set.label == "fake"]['username'].map(lambda x: len(x)).sum()/2546

10.332678711704634

In [265]:
testing_set[testing_set.label == "real"]['username'].map(lambda x: len(x)).sum()/1209

10.944582299421009

In [256]:
testing_set.label.unique()

array(['fake', 'real'], dtype=object)

In [5]:
from langdetect import detect
from langdetect.lang_detect_exception import LangDetectException
def lang_test(x):
    try:
        lang = detect(x)
        return lang
    except LangDetectException:
        print("Failed to detect: " + x)
        return "unknown"

In [158]:
Counter(training_set['tweetText'].apply(lang_test))

Failed to detect: Man sandy Foreal??  ⚡⚡⚡☔☔⚡🌊🌊☁🚣⛵💡🔌🚬🚬🚬🔫🔫🔒🔒🔐🔑🔒🚪🚪🚪🔨🔨🔨🏊🏊🏊🏊🎣🎣🎣😱😰😖😫😩😤💨💨💨💨💦💦💦💧💦💥💥💥👽💩🙌🙌🙌🙌🙌🏃🏃🏃🏃🏃👫👭💏👪👪👬👭💑🙇🌕🌕🌕🌎 http://t.co/vEWVXy10

Counter({'es': 1302,
         'en': 11159,
         'sq': 7,
         'ru': 61,
         'it': 98,
         'no': 37,
         'fr': 218,
         'bg': 9,
         'ro': 9,
         'nl': 89,
         'pt': 161,
         'de': 129,
         'tl': 318,
         'pl': 35,
         'id': 179,
         'cy': 115,
         'ja': 21,
         'ar': 79,
         'vi': 13,
         'ca': 32,
         'hu': 5,
         'sv': 45,
         'so': 122,
         'fi': 14,
         'sk': 11,
         'da': 28,
         'af': 69,
         'el': 5,
         'lt': 4,
         'he': 1,
         'hr': 5,
         'ko': 7,
         'tr': 34,
         'zh-cn': 10,
         'fa': 3,
         'sl': 6,
         'et': 8,
         'sw': 11,
         'lv': 2,
         'th': 18,
         'cs': 1,
         'unknown': 1,
         'mk': 1,
         'hi': 1})

In [6]:
lang_testing_set = pd.Series(testing_set['tweetText'].apply(lang_test))

In [7]:
lang_training_set = pd.Series(training_set['tweetText'].apply(lang_test))

Failed to detect: Man sandy Foreal??  ⚡⚡⚡☔☔⚡🌊🌊☁🚣⛵💡🔌🚬🚬🚬🔫🔫🔒🔒🔐🔑🔒🚪🚪🚪🔨🔨🔨🏊🏊🏊🏊🎣🎣🎣😱😰😖😫😩😤💨💨💨💨💦💦💦💧💦💥💥💥👽💩🙌🙌🙌🙌🙌🏃🏃🏃🏃🏃👫👭💏👪👪👬👭💑🙇🌕🌕🌕🌎 http://t.co/vEWVXy10

In [15]:
training_set['new_label'] = training_set['label'].apply(lambda x: 'fake' if x == 'humor' else x)

In [16]:
testing_set['lang'] = lang_testing_set

In [17]:
training_set['lang'] = lang_training_set

In [36]:
Counter(training_set[training_set['label']=='fake']['lang'])

Counter({'es': 674,
         'en': 5172,
         'sq': 4,
         'bg': 7,
         'it': 32,
         'da': 11,
         'fr': 77,
         'nl': 33,
         'pt': 118,
         'de': 36,
         'tl': 125,
         'cy': 56,
         'id': 91,
         'ru': 37,
         'ja': 17,
         'ar': 40,
         'no': 13,
         'af': 36,
         'vi': 6,
         'ca': 9,
         'hu': 3,
         'sv': 13,
         'so': 41,
         'fi': 8,
         'pl': 18,
         'hr': 4,
         'sk': 9,
         'el': 3,
         'lt': 1,
         'he': 1,
         'ko': 5,
         'tr': 9,
         'zh-cn': 7,
         'ro': 2,
         'fa': 1,
         'et': 2,
         'sw': 1,
         'th': 18,
         'unknown': 1,
         'hi': 1})

In [43]:
Counter(training_set['lang'])

Counter({'es': 1296,
         'en': 10962,
         'sq': 7,
         'bg': 9,
         'it': 100,
         'da': 27,
         'fr': 216,
         'nl': 89,
         'pt': 165,
         'de': 125,
         'tl': 306,
         'cy': 121,
         'id': 182,
         'ru': 60,
         'ja': 22,
         'ar': 79,
         'no': 37,
         'af': 67,
         'vi': 13,
         'ca': 33,
         'hu': 5,
         'sv': 39,
         'so': 122,
         'fi': 14,
         'pl': 36,
         'hr': 6,
         'sk': 17,
         'el': 5,
         'lt': 5,
         'he': 1,
         'ko': 7,
         'tr': 32,
         'zh-cn': 10,
         'ro': 6,
         'fa': 3,
         'sl': 9,
         'et': 9,
         'sw': 12,
         'th': 19,
         'unknown': 1,
         'mk': 1,
         'hi': 1,
         'lv': 1})

In [37]:
Counter(training_set[training_set['label']=='real']['lang'])

Counter({'en': 4078,
         'pl': 13,
         'it': 37,
         'tl': 93,
         'af': 19,
         'es': 277,
         'fr': 94,
         'nl': 14,
         'no': 14,
         'id': 15,
         'tr': 9,
         'th': 1,
         'so': 52,
         'cy': 30,
         'pt': 13,
         'ja': 3,
         'fi': 2,
         'bg': 1,
         'et': 3,
         'vi': 2,
         'sv': 20,
         'lt': 2,
         'de': 60,
         'ca': 10,
         'ru': 14,
         'sk': 5,
         'da': 10,
         'ar': 21,
         'mk': 1,
         'ro': 2,
         'sq': 2,
         'fa': 1,
         'sl': 1,
         'el': 2})

In [38]:
Counter(training_set[training_set['label']=='humor']['lang'])

Counter({'en': 1712,
         'fr': 45,
         'es': 345,
         'it': 31,
         'ca': 14,
         'de': 29,
         'nl': 42,
         'so': 29,
         'cy': 35,
         'tl': 88,
         'ar': 18,
         'id': 76,
         'sl': 8,
         'af': 12,
         'tr': 14,
         'da': 6,
         'no': 10,
         'fi': 4,
         'pt': 34,
         'hr': 2,
         'vi': 5,
         'pl': 5,
         'ru': 9,
         'sw': 11,
         'sv': 6,
         'et': 4,
         'ja': 2,
         'bg': 1,
         'sk': 3,
         'ro': 2,
         'hu': 2,
         'lt': 2,
         'fa': 1,
         'zh-cn': 3,
         'sq': 1,
         'ko': 2,
         'lv': 1})

In [31]:
Counter(testing_set[testing_set['label']=='fake']['lang'])

Counter({'en': 1617,
         'fr': 22,
         'es': 39,
         'ca': 6,
         'it': 14,
         'fi': 4,
         'id': 3,
         'nl': 21,
         'sq': 3,
         'ar': 178,
         'af': 4,
         'hr': 1,
         'tr': 12,
         'hi': 3,
         'ta': 1,
         'el': 2,
         'sv': 2,
         'so': 521,
         'pt': 36,
         'vi': 2,
         'ko': 1,
         'ja': 3,
         'ro': 1,
         'bg': 1,
         'tl': 2,
         'cy': 5,
         'lt': 1,
         'pl': 1,
         'de': 40})

In [ ]:
training_set[(training_set['lang']=='es') & (training_set['label']=='real')]

In [32]:
Counter(testing_set[testing_set['label']=='real']['lang'])

Counter({'en': 1144,
         'fr': 10,
         'pt': 3,
         'it': 5,
         'es': 24,
         'nl': 3,
         'tl': 1,
         'ar': 4,
         'pl': 1,
         'sq': 3,
         'hi': 2,
         'te': 2,
         'ru': 1,
         'th': 2,
         'id': 3,
         'sv': 1})

In [126]:
training_set.isna().any()

tweetId       False
tweetText     False
userId        False
imageId(s)    False
username      False
timestamp     False
label         False
lang          False
new_label     False
dtype: bool

In [ ]:
training_set['tweetText'].apply(lambda x: print("%s\n%s\n"%(x, detect(x))))

## NLTK parse tweetText

In [18]:
import nltk
from collections import Counter
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\derekhsu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\derekhsu\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\derekhsu\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Tokenization

In [19]:
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords

In [138]:
sent_tokenize(training_set.tweetText[0])

['¿Se acuerdan de la película: “El día después de mañana”?',
 'Me recuerda a lo que está pasando con el huracán #Sandy.',
 'http://t.co/JQQeRPwN']

In [141]:
for sent in sent_tokenize(training_set.tweetText[0]):
    print(word_tokenize(sent))

['¿Se', 'acuerdan', 'de', 'la', 'película', ':', '“', 'El', 'día', 'después', 'de', 'mañana', '”', '?']
['Me', 'recuerda', 'a', 'lo', 'que', 'está', 'pasando', 'con', 'el', 'huracán', '#', 'Sandy', '.']
['http', ':', '//t.co/JQQeRPwN']

In [11]:
training_set_en = training_set[training_set.lang == "en"]
testing_set_en = testing_set[testing_set.lang == "en"]

In [172]:
print(training_set_en['tweetText'][3])
print(word_tokenize(training_set_en['tweetText'][3]))

Scary shit #hurricane #NY http://t.co/e4JLBUfH
['Scary', 'shit', '#', 'hurricane', '#', 'NY', 'http', ':', '//t.co/e4JLBUfH']

In [17]:
from nltk.corpus import stopwords

stopwords_en = stopwords.words('english')
len(stopwords_en)

179

In [174]:
len(stopwords.fileids())

21

In [148]:
tweetText1 = list(map(str.lower, word_tokenize(training_set.tweetText[0])))

In [66]:
stopwords_en = set(stopwords.words('english'))

In [21]:
from string import punctuation
print('From string.punctuation:', type(punctuation), punctuation)

From string.punctuation: <class 'str'> !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [68]:
stopwords_en_withpunct = stopwords_en.union(set(punctuation))

In [152]:
print([word for word in tweetText1 if word not in stopwords_en_withpunct])

['¿se', 'acuerdan', 'de', 'la', 'película', '“', 'el', 'día', 'después', 'de', 'mañana', '”', 'recuerda', 'lo', 'que', 'está', 'pasando', 'con', 'el', 'huracán', 'sandy', 'http', '//t.co/jqqerpwn']

In [22]:
stopwords_json = {"en":["a","a's","able","about","above","according","accordingly","across","actually","after","afterwards","again","against","ain't","all","allow","allows","almost","alone","along","already","also","although","always","am","among","amongst","an","and","another","any","anybody","anyhow","anyone","anything","anyway","anyways","anywhere","apart","appear","appreciate","appropriate","are","aren't","around","as","aside","ask","asking","associated","at","available","away","awfully","b","be","became","because","become","becomes","becoming","been","before","beforehand","behind","being","believe","below","beside","besides","best","better","between","beyond","both","brief","but","by","c","c'mon","c's","came","can","can't","cannot","cant","cause","causes","certain","certainly","changes","clearly","co","com","come","comes","concerning","consequently","consider","considering","contain","containing","contains","corresponding","could","couldn't","course","currently","d","definitely","described","despite","did","didn't","different","do","does","doesn't","doing","don't","done","down","downwards","during","e","each","edu","eg","eight","either","else","elsewhere","enough","entirely","especially","et","etc","even","ever","every","everybody","everyone","everything","everywhere","ex","exactly","example","except","f","far","few","fifth","first","five","followed","following","follows","for","former","formerly","forth","four","from","further","furthermore","g","get","gets","getting","given","gives","go","goes","going","gone","got","gotten","greetings","h","had","hadn't","happens","hardly","has","hasn't","have","haven't","having","he","he's","hello","help","hence","her","here","here's","hereafter","hereby","herein","hereupon","hers","herself","hi","him","himself","his","hither","hopefully","how","howbeit","however","i","i'd","i'll","i'm","i've","ie","if","ignored","immediate","in","inasmuch","inc","indeed","indicate","indicated","indicates","inner","insofar","instead","into","inward","is","isn't","it","it'd","it'll","it's","its","itself","j","just","k","keep","keeps","kept","know","known","knows","l","last","lately","later","latter","latterly","least","less","lest","let","let's","like","liked","likely","little","look","looking","looks","ltd","m","mainly","many","may","maybe","me","mean","meanwhile","merely","might","more","moreover","most","mostly","much","must","my","myself","n","name","namely","nd","near","nearly","necessary","need","needs","neither","never","nevertheless","new","next","nine","no","nobody","non","none","noone","nor","normally","not","nothing","novel","now","nowhere","o","obviously","of","off","often","oh","ok","okay","old","on","once","one","ones","only","onto","or","other","others","otherwise","ought","our","ours","ourselves","out","outside","over","overall","own","p","particular","particularly","per","perhaps","placed","please","plus","possible","presumably","probably","provides","q","que","quite","qv","r","rather","rd","re","really","reasonably","regarding","regardless","regards","relatively","respectively","right","s","said","same","saw","say","saying","says","second","secondly","see","seeing","seem","seemed","seeming","seems","seen","self","selves","sensible","sent","serious","seriously","seven","several","shall","she","should","shouldn't","since","six","so","some","somebody","somehow","someone","something","sometime","sometimes","somewhat","somewhere","soon","sorry","specified","specify","specifying","still","sub","such","sup","sure","t","t's","take","taken","tell","tends","th","than","thank","thanks","thanx","that","that's","thats","the","their","theirs","them","themselves","then","thence","there","there's","thereafter","thereby","therefore","therein","theres","thereupon","these","they","they'd","they'll","they're","they've","think","third","this","thorough","thoroughly","those","though","three","through","throughout","thru","thus","to","together","too","took","toward","towards","tried","tries","truly","try","trying","twice","two","u","un","under","unfortunately","unless","unlikely","until","unto","up","upon","us","use","used","useful","uses","using","usually","uucp","v","value","various","very","via","viz","vs","w","want","wants","was","wasn't","way","we","we'd","we'll","we're","we've","welcome","well","went","were","weren't","what","what's","whatever","when","whence","whenever","where","where's","whereafter","whereas","whereby","wherein","whereupon","wherever","whether","which","while","whither","who","who's","whoever","whole","whom","whose","why","will","willing","wish","with","within","without","won't","wonder","would","wouldn't","x","y","yes","yet","you","you'd","you'll","you're","you've","your","yours","yourself","yourselves","z","zero"]}
stopwords_json_en = set(stopwords_json['en'])
stopwords_nltk_en = set(stopwords.words('english'))
stopwords_punct = set(punctuation)
# Combine the stopwords. Its a lot longer so I'm not printing it out...
stoplist_combined = set.union(stopwords_json_en, stopwords_nltk_en, stopwords_punct)

In [179]:
print('With combined stopwords:')
print([word for word in word_tokenize(training_set_en['tweetText'][3]) if word not in stoplist_combined])

With combined stopwords:
['Scary', 'shit', 'hurricane', 'NY', 'http', '//t.co/e4JLBUfH']

In [193]:
from nltk.corpus import wordnet
syn = wordnet.synsets('cookbook')[0]
syn.pos()

'n'

In [157]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()

### Lemmatization

In [199]:
from nltk import pos_tag, pos_tag_sents

In [208]:
pos_tag(word_tokenize(training_set_en['tweetText'][3]))

[('Scary', 'NNP'),
 ('shit', 'VBD'),
 ('#', '#'),
 ('hurricane', 'NN'),
 ('#', '#'),
 ('NY', 'NNP'),
 ('http', 'NN'),
 (':', ':'),
 ('//t.co/e4JLBUfH', 'NN')]

In [23]:
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer

wnl = WordNetLemmatizer()

def penn2morphy(penntag):
    """ Converts Penn Treebank tags to WordNet. """
    morphy_tag = {'NN':'n', 'JJ':'a',
                  'VB':'v', 'RB':'r'}
    try:
        return morphy_tag[penntag[:2]]
    except:
        return 'n' 
    
def lemmatize_sent(text): 
    # Text input is string, returns lowercased strings.
    return [wnl.lemmatize(word.lower(), pos=penn2morphy(tag)) 
            for word, tag in pos_tag(word_tokenize(text))]

In [166]:
lemmatize_sent(training_set.tweetText[0])

['¿se',
 'acuerdan',
 'de',
 'la',
 'película',
 ':',
 '“',
 'el',
 'día',
 'después',
 'de',
 'mañana',
 '”',
 '?',
 'me',
 'recuerda',
 'a',
 'lo',
 'que',
 'está',
 'pasando',
 'con',
 'el',
 'huracán',
 '#',
 'sandy',
 '.',
 'http',
 ':',
 '//t.co/jqqerpwn']

In [24]:
def preprocess_text(text):
    # Input: str, i.e. document/sentence
    # Output: list(str) , i.e. list of lemmas
    return [word for word in lemmatize_sent(text) 
            if word not in stoplist_combined
            and not word.isdigit()]

In [57]:
preprocess_text(training_set_en.tweetText[8])

['sandy',
 'newyork',
 'hurricane',
 'statueofliberty',
 'usa',
 'http',
 '//t.co/iqfebo1e']

In [175]:
print(tweet2)
print('Word counts:')
print(Counter(tweet2))

['milenagimon', 'miren', 'sandy', 'en', 'ny', 'tremenda', 'imagen', 'del', 'huracán', 'parece', 'el', '``', 'día', 'de', 'la', 'independencia', "''", 'http', '//t.co/41juweux', 'real', 'rt']
Word counts:
Counter({'milenagimon': 1, 'miren': 1, 'sandy': 1, 'en': 1, 'ny': 1, 'tremenda': 1, 'imagen': 1, 'del': 1, 'huracán': 1, 'parece': 1, 'el': 1, '``': 1, 'día': 1, 'de': 1, 'la': 1, 'independencia': 1, "''": 1, 'http': 1, '//t.co/41juweux': 1, 'real': 1, 'rt': 1})

In [26]:
from io import StringIO
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [178]:
with StringIO('\n'.join([training_set.tweetText[0], training_set.tweetText[1]])) as fin:
    # Create the vectorizer
    count_vect = CountVectorizer()
    count_vect.fit_transform(fin)

In [179]:
count_vect.vocabulary_

{'se': 31,
 'acuerdan': 1,
 'de': 4,
 'la': 16,
 'película': 25,
 'el': 8,
 'día': 7,
 'después': 6,
 'mañana': 18,
 'me': 19,
 'recuerda': 28,
 'lo': 17,
 'que': 26,
 'está': 10,
 'pasando': 24,
 'con': 3,
 'huracán': 12,
 'sandy': 30,
 'http': 11,
 'co': 2,
 'jqqerpwn': 15,
 'milenagimon': 20,
 'miren': 21,
 'en': 9,
 'ny': 22,
 'tremenda': 32,
 'imagen': 13,
 'del': 5,
 'parece': 23,
 'independencia': 14,
 '41juweux': 0,
 'real': 27,
 'rt': 29}

In [181]:
with StringIO('\n'.join([training_set.tweetText[0], training_set.tweetText[1]])) as fin:
    # Override the analyzer totally with our preprocess text
    count_vect = CountVectorizer(stop_words=stoplist_combined,
                                 tokenizer=word_tokenize)
    count_vect.fit_transform(fin)

In [182]:
count_vect.vocabulary_

{'¿se': 32,
 'acuerdan': 5,
 'de': 7,
 'la': 18,
 'película': 26,
 '“': 33,
 'el': 11,
 'día': 10,
 'después': 9,
 'mañana': 20,
 '”': 34,
 'recuerda': 28,
 'lo': 19,
 'está': 13,
 'pasando': 25,
 'con': 6,
 'huracán': 15,
 'sandy': 30,
 'http': 14,
 '//t.co/jqqerpwn': 2,
 'milenagimon': 21,
 'miren': 22,
 'en': 12,
 'ny': 23,
 'tremenda': 31,
 'imagen': 16,
 'del': 8,
 'parece': 24,
 '``': 4,
 'independencia': 17,
 '2': 3,
 "''": 0,
 '//t.co/41juweux': 1,
 'real': 27,
 'rt': 29}

In [183]:
print()
print('Matrix/Vectors:\n', count_vect.transform([training_set.tweetText[0], training_set.tweetText[1]]).toarray())

Matrix/Vectors:
 [[0 0 1 0 0 1 1 2 0 1 1 2 0 1 1 1 0 0 1 1 1 0 0 0 0 1 1 0 1 0 1 0 1 1 1]
 [1 1 0 1 1 0 0 1 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 0 1 0 1 1 1 0 0 0]]

In [67]:
count_vect = CountVectorizer(analyzer=preprocess_text)
train_set = count_vect.fit_transform(training_set[training_set.lang=="en"].tweetText)
train_tags = training_set[training_set.lang=="en"].label

In [89]:
word_vectorizer = TfidfVectorizer(analyzer=preprocess_text', 
                                  stop_words=stoplist_combined,                                      
                                  ngram_range=(2,2),
                                  max_features=300,
                                  encoding='utf-8',
                                  decode_error='strict',
                                  strip_accents = None,
                                  lowercase=True,
                                  tokenizer=word_tokenize
                                  )

# word_vectorizer = TfidfVectorizer(
#     sublinear_tf=True,
#     strip_accents='unicode',
#     analyzer='word',
#     token_pattern=r'\w{1,}',
#     stop_words=stoplist_combined,
#     ngram_range=(2, 2),
#     max_features=1000)

In [27]:
class CustomVectorizer(TfidfVectorizer):
    
    def build_analyzer(self):
        
        stop_words = self.get_stop_words()
        
        def analyser(doc):
            
            if (self.lowercase == True):
                doc = doc.lower()
            tokens = lemmatize_sent(doc)
            
            return(self._word_ngrams(tokens, stop_words))
        return (analyser)

In [32]:
stoplist_combined.add('”')

In [33]:
word_vectorizer = CustomVectorizer(stop_words=stoplist_combined,                                      
                                  ngram_range=(1,3),
                                  max_features=1000,
                                  encoding='utf-8',
                                  decode_error='strict',
                                  strip_accents = None,
                                  lowercase=True,
                                  tokenizer=word_tokenize
                                  )

In [125]:
'”' in stoplist_combined

True

In [34]:
train_word_features = word_vectorizer.fit_transform(training_set_en['tweetText'])
testing_word_features = word_ vectorizer.transform(testing_set_en['tweetText'])

In [35]:
terms = word_vectorizer.get_feature_names()
sums = train_word_features.sum(axis=0)

data = []
for col, term in enumerate(terms):
    data.append( (term, sums[0,col] ))

ranking = pd.DataFrame(data, columns=['term','rank'])
print(ranking.sort_values('rank', ascending=False))

                              term         rank
341                           http  1130.982746
698                          sandy  1066.661233
722                     sandy http   712.486753
353                      hurricane   585.552595
360                hurricane sandy   467.572438
371                 hurricanesandy   455.966937
540                            nyc   310.616491
683                             rt   296.914606
18                             ...   287.003794
373            hurricanesandy http   265.050867
8                               's   248.130663
778                          shark   210.827840
579                          photo   210.159165
364           hurricane sandy http   207.353219
980                           york   184.634617
799                          sochi   164.133960
806                        soldier   149.717827
517                        newyork   148.378357
603                        picture   140.924589
536                             ny   132.577507
501                            n't   131.072783
902                           tomb   126.530020
595                            pic   125.750856
655                           real   125.560971
928                        unknown   123.558225
847                          storm   122.842204
963                            wow   122.148268
185                          crazy   117.542037
400                         jersey   116.459821
425                        liberty   116.117280
..                             ...          ...
941             vacation hurricane     6.223491
942     vacation hurricane katrina     6.223491
506                 n't yet- check     6.158486
976                           yet-     6.158486
977                     yet- check     6.158486
978                yet- check week     6.158486
505                       n't yet-     6.158486
276             front yard flooded     5.981777
642              pretty incredible     5.971156
666        remember president bush     5.896762
665             remember president     5.896762
139        bush vacation hurricane     5.896762
138                  bush vacation     5.896762
137                           bush     5.896762
638        president bush vacation     5.896762
637                 president bush     5.896762
413              katrina president     5.896762
414        katrina president obama     5.896762
357    hurricane katrina president     5.896762
643          pretty incredible n't     5.778292
392            incredible n't yet-     5.778292
391                 incredible n't     5.778292
502                       n't live     5.564755
434                     live place     5.564755
503                 n't live place     5.564755
693               rt stephgosk mob     5.515095
210             dianesawyer pretty     4.896450
561                  obama p2 http     4.733323
640             president obama p2     4.733323
211  dianesawyer pretty incredible     4.534587

[1000 rows x 2 columns]

In [ ]:
sorted(word_vectorizer.vocabulary_.items(), key=lambda kv: -kv[1])

In [151]:
print(train_word_features[0])

  (0, 767)	0.507643236917
  (0, 791)	0.44296794477
  (0, 351)	0.223965783717
  (0, 535)	0.415077176939
  (0, 339)	0.0948576430503
  (0, 536)	0.560918921398

In [157]:
pd.DataFrame(train_word_features.toarray(), columns=word_vectorizer.get_feature_names())

KeyError: 100

In [103]:
train_tags = training_set[training_set.lang=="en"].new_label

In [110]:
#test_set = count_vect.transform(testing_set[testing_set.lang=="en"].tweetText)
test_tags = testing_set[testing_set.lang=="en"].label

In [162]:
from sklearn.decomposition import PCA, KernelPCA
kpca = KernelPCA(kernel='rbf', gamma=100, random_state=42)
train_word_features_kpca = kpca.fit_transform(train_word_features)

In [172]:
from sklearn.decomposition import TruncatedSVD
tsvd = TruncatedSVD()
train_word_features_tsvd = tsvd.fit_transform(train_word_features)

In [178]:
from sklearn.decomposition import NMF
nmf = NMF(random_state=42)
train_word_features_nmf = nmf.fit_transform(train_word_features)

In [174]:
train_word_features_tsvd

array([[ 0.14541106,  0.05954198],
       [ 0.19110331,  0.02895184],
       [ 0.11547867,  0.04313842],
       ...,
       [ 0.0634501 ,  0.02603405],
       [ 0.06970431,  0.02532622],
       [ 0.07268181,  0.05379976]])

In [180]:
train_word_features_nmf.shape

(11140, 1000)

In [163]:
train_word_features_kpca.shape

(11140, 11037)

In [164]:
train_word_features.shape

(11140, 1000)

In [165]:
train_word_features_kpca

array([[ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610652e-13,   8.97245913e-14,  -1.49775255e-12],
       [ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610652e-13,   8.97245914e-14,  -1.49775255e-12],
       [ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610650e-13,   8.97245915e-14,  -1.49775255e-12],
       ...,
       [ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610652e-13,   8.97245913e-14,  -1.49775255e-12],
       [ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610652e-13,   8.97245913e-14,  -1.49775255e-12],
       [ -2.09923570e-02,   1.13195360e-02,  -9.72937626e-03, ...,
         -5.48610652e-13,   8.97245913e-14,  -1.49775255e-12]])

In [104]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

In [210]:
test_set.shape

(3755, 27942)

In [211]:
train_set.shape

(14277, 27942)

In [181]:
clf.fit(train_word_features_nmf, train_tags)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [182]:
predicted_set = clf.predict(testing_word_features)

In [108]:
from sklearn.metrics import accuracy_score, recall_score

In [183]:
accuracy_score(y_pred=predicted_set, y_true=test_tags)

0.67148014440433212

In [184]:
recall_score(y_pred=predicted_set, y_true=test_tags, pos_label="fake")

0.5

In [89]:
pd.Series(predicted_set).unique()

array(['real', 'fake'], dtype=object)

In [86]:
training_set[training_set.lang=="en"].new_label.unique()

array(['fake', 'real'], dtype=object)

In [90]:
testing_set['label'].unique()

array(['fake', 'real'], dtype=object)

In [103]:
testing_set[testing_set[testing_set.lang=='en'].label != predicted_set]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [116]:
testing_set[testing_set.lang=='en'][(testing_set[testing_set.lang=='en'].label != predicted_set) & (testing_set[testing_set.lang=='en'].label == 'real')]

,tweetId,tweetText,userId,imageId(s),username,timestamp,label,lang
149,579016447747325953,@PicPedant ? @ObservingSpace Solar eclipse wit...,21036658,eclipse_08,mike_rawlins,Fri Mar 20 20:27:33 +0000 2015,real,en
152,578983474125746176,Holy cow! RT @ObservingSpace: Solar eclipse wi...,14090323,eclipse_08,hauck,Fri Mar 20 18:16:31 +0000 2015,real,en
153,578982912596426752,OMG RT @ObservingSpace: Solar eclipse with an ...,14807898,eclipse_08,elakdawalla,Fri Mar 20 18:14:18 +0000 2015,real,en
154,579029763483942912,"WAOUH! ""@ObservingSpace: Solar eclipse with an...",17812024,eclipse_08,Chergaoui,Fri Mar 20 21:20:28 +0000 2015,real,en
171,579348690789359616,So who wins the Photobombing The Eclipse conte...,12794772,eclipse_10,KarlOnSea,Sat Mar 21 18:27:46 +0000 2015,real,en
177,579172761463062528,Double partial eclipse: the ISS and the Moon\n...,314515213,eclipse_08,MilkyWay_Earth,Sat Mar 21 06:48:41 +0000 2015,real,en
178,579280743198695425,凄い！月に縫い目が…\nISSタイミング良すぎ！\nRT @MilkyWay_Earth: ...,404074286,eclipse_08,chayamontweets,Sat Mar 21 13:57:46 +0000 2015,real,en
184,578848174128893952,Where are you watching the #eclipse from? If i...,1135540254,eclipse_07,businessratesav,Fri Mar 20 09:18:53 +0000 2015,real,en
185,578996207684620288,There! Today's eclipse shadow from the ISS: ht...,395263528,eclipse_07,BrockworthBajr,Fri Mar 20 19:07:07 +0000 2015,real,en
186,578996329982070784,There! Today's eclipse shadow from the ISS. ht...,14451705,eclipse_07,andygates,Fri Mar 20 19:07:36 +0000 2015,real,en
187,579250609943089152,http://t.co/zkyjinLpH6 The solar eclipse of Ma...,1370114947,eclipse_07,recenttechnos,Sat Mar 21 11:58:02 +0000 2015,real,en
191,578969456287830016,Solar eclipse with transit of the ISS - March ...,2431845505,eclipse_08,CodeAndCommand,Fri Mar 20 17:20:49 +0000 2015,real,en
192,578970914861113344,ISS solar transit during today's eclipse http:...,175834344,eclipse_08,cineboxandrew,Fri Mar 20 17:26:37 +0000 2015,real,en
193,578971322174304256,Solar eclipse with transit of the ISS - March ...,2907090723,eclipse_08,subredditsbot,Fri Mar 20 17:28:14 +0000 2015,real,en
195,578996157541531648,Solar eclipse with ISS transit. Very cool. htt...,3098326194,eclipse_08,ekstansbery,Fri Mar 20 19:06:55 +0000 2015,real,en
199,579014231992881152,Solar eclipse with an ISS transit over Spain C...,2866961017,eclipse_08,tweet2014001,Fri Mar 20 20:18:45 +0000 2015,real,en
204,579235655537983488,Partial solar eclipse with a transit of the IS...,2831444330,eclipse_08,zumba8z,Sat Mar 21 10:58:36 +0000 2015,real,en
208,579426495132786688,Solar eclipse and transit of ISS . . . Photogr...,2988550545,eclipse_08,SpacePornBot,Sat Mar 21 23:36:56 +0000 2015,real,en
209,579428022840901632,Solar eclipse and transit of ISS . . . Photogr...,3091792955,eclipse_08,DeepestPictures,Sat Mar 21 23:43:00 +0000 2015,real,en
210,579429799267037184,Solar eclipse and transit of ISS . . . Photogr...,2431845505,eclipse_08,CodeAndCommand,Sat Mar 21 23:50:04 +0000 2015,real,en
211,579431094837182465,Solar eclipse and transit of ISS . . . Photogr...,2905821363,eclipse_08,redditpicsbot,Sat Mar 21 23:55:12 +0000 2015,real,en
212,579431306586619905,Solar eclipse and transit of ISS . . . Photogr...,2907090723,eclipse_08,subredditsbot,Sat Mar 21 23:56:03 +0000 2015,real,en
213,579432863889641474,Solar eclipse and transit of ISS . . . Photogr...,2597329015,eclipse_08,TheSpacePix,Sun Mar 22 00:02:14 +0000 2015,real,en
216,579568183847174144,Impressive photo of the ISS passing in front o...,361781213,eclipse_08,DannyNimmo,Sun Mar 22 08:59:57 +0000 2015,real,en
219,579666015312867328,The ISS crosses in front of the sun during the...,79009461,eclipse_08,jessicaplautz,Sun Mar 22 15:28:42 +0000 2015,real,en
228,580188534977523713,@Cmdr_Hadfield just saw this; lunar eclipse wi...,48895642,eclipse_08,jlessard9127,Tue Mar 24 02:05:00 +0000 2015,real,en
229,580347309432541184,Partial Solar Eclipse and transit of ISS taken...,901473385,eclipse_08,SoBadAstronomer,Tue Mar 24 12:35:55 +0000 2015,real,en
230,583862106778423296,Partial solar eclipse with a transit of the IS...,127124449,eclipse_10,TVChannels4U,Fri Apr 03 05:22:28 +0000 2015,real,en
231,578983155056644097,“Video of the ISS crossing the Sun DURING the ...,474068520,eclipse_08,derosajoe51,Fri Mar 20 18:15:15 +0000 2015,real,en
235,578972523884318720,ISS in transit during the eclipse today http:/...,2361361367,eclipse_08,SalamoneNino,Fri Mar 20 17:33:01 +0000 2015,real,en
...,...,...,...,...,...,...,...,...
1066,592627472128024576,Woman born in Saffron #Walden among the missin...,351873959,nepal_24,MsGilbert1805,Mon Apr 27 09:52:54 +0000 2015,real,en
1087,593448810975731713,Have an extra tent laying around? #Nepal homel...,2387671628,nepal_25,emily_CNN,Wed Apr 29 16:16:36 +0000 2015,real,en
1094,591945125829423104,#Nepal struck by massive earthquake. http://t....,22973101,nepal_28,goFBW,Sat Apr 25 12:41:30 +0000 2015,real,en
1101,593156388920000512,Pray for nepal #NepalEarthquake #NepalQuakeRel...,223936375,nepal_30,77vaghela,Tue Apr 28 20:54:38 +0000 2015,real,en
1115,592506435075969024,Nepal Hit By Another Earthquake http://t.co/I1...,87883018,nepal_27,Qieqieeisyummy,Mon Apr 27 01:51:57 +0000 2015,real,en
1124,591889297185214464,#NepalEarthQuake pics http://t.co/79s8nSMBoo,564524925,nepal_27,UttrakhandAjay,Sat Apr 25 08:59:39 +0000 2015,real,en
1125,591939073113067520,#earthquake #BlackDay #NepalQuake #NepalEarthq...,3069356726,nepal_27,kchetrip,Sat Apr 25 12:17:27 +0000 2015,real,en
1134,591891600260734976,Stay safe #NepalEarthquake http://t.co/z0vutz87lJ,542608982,nepal_27,Im_Rishad,Sat Apr 25 09:08:48 +0000 2015,real,en
1137,591872455339216896,"My brother took this Pic, who is from Nepal. A...",212979601,nepal_27,Boskjos,Sat Apr 25 07:52:44 +0000 2015,real,en
1140,591931319585636352,More pics from the #NepalEarthquake http://t.c...,14813790,nepal_27,_sunilrawat,Sat Apr 25 11:46:38 +0000 2015,real,en
1142,591867788437753857,USGS has upgraded the magnitude of the #earthq...,20751449,"nepal_22,nepal_25",the_hindu,Sat Apr 25 07:34:11 +0000 2015,real,en
1143,591867788563587073,USGS has upgraded the magnitude of the #earthq...,177829660,"nepal_22,nepal_25",TheHindu,Sat Apr 25 07:34:11 +0000 2015,real,en
1416,591989147679621121,( ♥ #CesarAcosta ♥ ) Nepal's historic Dharahar...,3015956190,nepal_25,Ramon08e,Sat Apr 25 15:36:26 +0000 2015,real,en
1418,591989149202186240,( ♥ #CesarAcosta ♥ ) Nepal's historic Dharahar...,1599983358,nepal_25,Pedro_Mateo1,Sat Apr 25 15:36:26 +0000 2015,real,en
1590,592267545521979392,Nepal earthquake destroys historic 9-storey Dh...,279009908,nepal_25,MyAnandaBazar,Sun Apr 26 10:02:41 +0000 2015,real,en
1853,583803185829142528,Smfh RT @joansalihi: The horror image from ins...,170163629,garissa_04,803codered,Fri Apr 03 01:28:20 +0000 2015,real,en
1862,583598033880928256,Are You Christian Or Muslim? – Muslims Singlin...,19355955,garissa_04,Blazingcatfur,Thu Apr 02 11:53:08 +0000 2015,real,en
1864,583885490119692288,This is what's happened to our fellow Kenyan.....,1313734856,garissa_04,emmanyo4,Fri Apr 03 06:55:23 +0000 2015,real,en
1870,583855255487717377,WHY “@joansalihi: The horror image from inside...,160712322,garissa_04,_SLENDERella_,Fri Apr 03 04:55:15 +0000 2015,real,en
1883,583957869361373184,Every new attack is considered a wake up call....,473121474,garissa_03,BenazirKarim,Fri Apr 03 11:43:00 +0000 2015,real,en
1884,584027135251243008,"If your ""god"" approves that you fight for him ...",570920371,garissa_03,FAmosworld,Fri Apr 03 16:18:14 +0000 2015,real,en
1885,584063967930232832,#Blacksarehumans #GarissaAttack Let's stand wi...,1598684982,garissa_03,eseblogger,Fri Apr 03 18:44:35 +0000 2015,real,en
1886,583784147358973952,RT @libertylynx: RT @alimhaider: was a time wh...,18793488,garissa_04,itsEric,Fri Apr 03 00:12:41 +0000 2015,real,en
1888,583834137187848192,Death toll reaches 147 in a kenyan university ...,796322448,garissa_04,Momin1998,Fri Apr 03 03:31:20 +0000 2015,real,en
1891,583875484661972992,#GarissaAttack May their soles rest in peace h...,270216745,garissa_04,Kennetholayo,Fri Apr 03 06:15:38 +0000 2015,real,en
1898,583883309488406528,Innocent souls just going to study..........#s...,355597630,garissa_04,CollinsBoadi,Fri Apr 03 06:46:43 +0000 2015,real,en
1900,583908772382429184,The horror that happened at #GarissaAttack. ht...,57579807,garissa_04,Vusani_,Fri Apr 03 08:27:54 +0000 2015,real,en
1901,583944163097468928,147 students killed in #GarissaAttack by #AlSh...,1652971309,garissa_04,frederikswennen,Fri Apr 03 10:48:32 +0000 2015,real,en
1902,583855980418625536,WHY “@joansalihi: The horror image from inside...,135668220,garissa_04,OhiOsRAW,Fri Apr 03 04:58:07 +0000 2015,real,en
1920,583783882182430722,"In honor of our fellow Students, we pray the g...",2492068440,garissa_04,Instaadict,Fri Apr 03 00:11:38 +0000 2015,real,en